<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de ejemplo</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/mi_estilo.css" >
    <!-- FAVICON-->
    <link rel="icon" type="image/png" href="../favicon.png?v=2" >
</head>
<body>
    <!-- DIV llamado "mi_contenedor" dónde se generará todo el contenido del sitio web-->
    <div class="mi_contenedor">

        <!-- HEADER del sitio web-->
        <header class="mi_encabezado">
            <h1>Nombre del sitio web o logo</h1>
            <nav class="navigationBar">
                <ul class="navigationBarList">
                    <li>
                        <a class="enlace" href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="enlace active" href="#">Galería</a>
                    </li>
                    <li>
                        <a class="enlace" href="./presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a class="enlace" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- MAIN: Etiqueta dónde colocaremos el contenido de esta páginad el sitio web -->
        <main class="mi_principal">
            <h2>Aquí va el contenido de la galería</h2>   
            <div class="image_container">
                <div class="fila">
                    <div class="columna1">
                        <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                        <div>Imagen 1</div>
                    </div>
                    
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                </div>
                <div class="fila">
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                    <img src="../assets/images/gato1.jpg" class="imagenes_gato" alt="Imagen de un gato" width="626" height="626">
                </div>
            </div> 
        </main>

        <!-- FOOTER: Etiqueta dónde colocaremos el contenido final de la página -->
        <footer class="mi_pie">
            <div class="aviso_legal">
                <small>
                    &copy; MasterD - Todos los derechos reservados.
                </small>
            </div>
        </footer>
    </div>
    
</body>
</html>